@model QBankAdmin.Areas.Admin.Models.ViewModels.EstadisticasViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}


<section class="sctPrincipalEstats">
    <h3>Estadísticas</h3>
    <a href="~/Admin/Home/Index"><i class="fa-solid fa-caret-left"></i>Regresar</a>
    <section id="sctStats">
        <h4>Hoy</h4>
        <table class="tblStats">
            <thead>
                <tr class="trUno">
                    <th rowspan="2">Fecha</th>
                    <th colspan="4">Turnos</th>
                    <th colspan="2">Tiempo promedio</th>
                </tr>
                <tr class="trDos">
                    <th>Completados</th>
                    <th>Cancelados</th>
                    <th>Atendiendo</th>
                    <th>En espera</th>
                    <th>De espera</th>
                    <th>De atención</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@DateTime.Now.Date.ToString("dd/MM/yyyy")</td>
                    <td>@Model.EstadisticaActual.TurnosAtendidos</td>
                    <td>@Model.EstadisticaActual.TurnosCancelados</td>
                    <td>@Model.EstadisticaActual.TurnosEnProgreso</td>
                    <td>@Model.EstadisticaActual.TurnosPendientes</td>
                    <td>@Model.EstadisticaActual.TiempoPromedioDeEspera.ToString("0.00")</td>
                    <td>@Model.EstadisticaActual.TiempoPromedioDeAtencion.ToString("0.00")</td>
                </tr>
            </tbody>
        </table>
    </section>

    <section id="sctStatsHistorial">
        <h4>Historial</h4>
        <table class="tblStats">
            <thead>
                <tr class="trUno">
                    <th rowspan="2">Fecha</th>
                    <th colspan="4">Turnos</th>
                    <th colspan="2">Tiempo promedio</th>
                </tr>
                <tr class="trDos">
                    <th>Completados</th>
                    <th>Cancelados</th>
                    <th>Atendiendo</th>
                    <th>En espera</th>
                    <th>De espera</th>
                    <th>De atención</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.HistorialEstadisticas)
                {
                    <tr>
                        <td>@item.Fecha.ToString("dd/MM/yyyy")</td>
                        <td>@item.TurnosAtendidos</td>
                        <td>@item.TurnosCancelados</td>
                        <td>@item.TurnosEnProgreso</td>
                        <td>@item.TurnosPendientes</td>
                        <td>@item.TiempoPromedioDeEspera.ToString("0.00")</td>
                        <td>@item.TiempoPromedioDeAtencion.ToString("0.00")</td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
</section>