@model QBankAdmin.Areas.Admin.Models.ViewModels.IndexAdminViewModel;
@{
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<section class="sctPrincipal">
        
                <section id="sctCajas">
                    <h3>Cajas</h3>
                    <ol>
                        @foreach (var item in Model.Cajas)
                           {
                                <li>
                                     <div>
                                         <label style="font-weight: bold;">Caja <span>@item.NumeroCaja</span></label>
                                         <label>Estado: <span>@item.Estado</span></label>
                                     </div>
                                     <div>
                                         <a href="~/Admin/Caja/Editar/@item.Id"><i class="fa-solid fa-pen"></i></a>
                                         <a href="~/Admin/Caja/Eliminar/@item.Id"><i class="fa-solid fa-trash"></i></a>
                                     </div>
                                 </li>
                           }
                    </ol>
                    <a id="aAgregar" href="~/Admin/Caja/Agregar">Agregar caja</a>
                </section>

    <section id="sctUsuarios">
        <h3>Usuarios</h3>
        <ol>
            @foreach (var item in Model.Usuarios)
            {
                <li>
                    <label>@item.Nombre</label>
                    <div>
                        <a href="~/Admin/Usuario/Editar/@item.Id"><i class="fa-solid fa-pen"></i></a>
                        <a href="~/Admin/Usuario/Eliminar/@item.Id"><i class="fa-solid fa-trash"></i></a>
                    </div>
                </li>
            }
        </ol>
        <a id="aAgregar" href="~/Admin/Usuario/Agregar">Agregar usuario</a>
    </section>
    <button id="btnVer">Ver usuarios</button>
    <section id="sctStats">
        <h3>Estadísticas</h3>
        <section id="sctStats2">
            <div class="dvStat">
                <i class="fa-solid fa-hashtag" style="color: #63E6BE;"></i>
                <label>Total de turnos</label>
                <label>@Model.TotalTurnos</label>
            </div>
            <div class="dvStat">
                <i class="fa-solid fa-circle-check" style="color: #B197FC;"></i>
                <label>Turnos completados</label>
                <label>@Model.TurnosCompletados</label>
            </div>
            <div class="dvStat">
                <i class="fa-solid fa-ban" style="color: #ff9a57;"></i>
                <label>Turnos cancelados</label>
                <label>@Model.TurnosCancelados</label>
            </div>
            <div class="dvStat">
                <i class="fa-solid fa-clock" style="color: #FFD43B;"></i>
                <label>Tiempo promedio de espera</label>
                <label>10</label>
            </div>
            <div class="dvStat">
                <i class="fa-solid fa-clock" style="color: #BBFF3B;"></i>
                <label>Tiempo promedio de atención</label>
                <label>10</label>
            </div>
        </section>
    </section>
    <a href="Estadisticas.html">Ver más</a>
            </section>


<script>
    document.getElementById('btnVer').addEventListener('click', function () {
        var cajas = document.getElementById('sctCajas');
        var usuarios = document.getElementById('sctUsuarios');
        var button = document.getElementById('btnVer');

        if (cajas.style.display === 'none') {
            cajas.style.display = 'block';
            usuarios.style.display = 'none';
            button.innerText = 'Ver usuarios';
        } else {
            cajas.style.display = 'none';
            usuarios.style.display = 'block';
            button.innerText = 'Ver cajas';
        }
    });
</script>