@model QBankAdmin.Areas.Admin.Models.ViewModels.IndexAdminViewModel;
@{
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<p class="bankStatusText">
    Cargando...
</p>

<div class="dvBotones">
    <button id="btnAbrirBanco" data-estado-banco="abierto">Abrir banco</button>
    <button id="btnCerrarBanco" data-estado-banco="cerrado">Cerrar banco</button>
</div>




<section class="sctPrincipal">
                <section id="sctCajas">
                    <h3>Cajas</h3>
                    <ol>
                        @foreach (var item in Model.Cajas)
                           {
                                <li>
                                     <div>
                                         <label style="font-weight: bold;">Caja <span>@item.NumeroCaja</span></label>
                                         <label>Estado: <span>@item.Estado</span></label>
                                     </div>
                                     <div>
                                         <a href="~/Admin/Caja/Editar/@item.Id"><i class="fa-solid fa-pen"></i></a>
                                         <a href="~/Admin/Caja/Eliminar/@item.Id"><i class="fa-solid fa-trash"></i></a>
                                     </div>
                                 </li>
                           }
                    </ol>
                    <a id="aAgregar" href="~/Admin/Caja/Agregar">Agregar caja</a>
      
                </section>

       

    <section id="sctUsuarios">
        <h3>Usuarios</h3>
        <ol>
            @foreach (var item in Model.Usuarios)
            {
                <li>
                    <label>@item.Nombre</label>
                    <div>
                        <a href="~/Admin/Usuario/Editar/@item.Id"><i class="fa-solid fa-pen"></i></a>
                        <a href="~/Admin/Usuario/Eliminar/@item.Id"><i class="fa-solid fa-trash"></i></a>
                    </div>
                </li>
            }
        </ol>
        <a id="aAgregar" href="~/Admin/Usuario/Agregar">Agregar usuario</a>
    </section>
    <button id="btnVer">Ver usuarios</button>
    <section id="sctStats">
        <h3>Estadísticas</h3>
        <section id="sctStats2">
            <div class="dvStat">
                <i class="fa-solid fa-hashtag" style="color: #63E6BE;"></i>
                <label>Total de turnos</label>
                <label>@Model.Estadisticas.TurnosEnProgreso</label>
            </div>
            <div class="dvStat">
                <i class="fa-solid fa-circle-check" style="color: #B197FC;"></i>
                <label>Turnos completados</label>
                <label>@Model.Estadisticas.TurnosAtendidos</label>
            </div>
            <div class="dvStat">
                <i class="fa-solid fa-ban" style="color: #ff9a57;"></i>
                <label>Turnos cancelados</label>
                <label>@Model.Estadisticas.TurnosCancelados</label>
            </div>
            <div class="dvStat">
                <i class="fa-solid fa-clock" style="color: #FFD43B;"></i>
                <label>Tiempo promedio de espera</label>
                <label>@Model.Estadisticas.TiempoPromedioDeEspera.ToString("0.00")</label>
            </div>
            <div class="dvStat">
                <i class="fa-solid fa-clock" style="color: #BBFF3B;"></i>
                <label>Tiempo promedio de atención</label>
                <label>@Model.Estadisticas.TiempoPromedioDeAtencion.ToString("0.00")</label>
            </div>
        </section>
    </section>
    <a href="~/Admin/Home/Estadisticas">Ver más</a>
            </section>



<button id="enviarEstadisticas">Enviar Estadísticas</button>

<input type="checkbox" id="btn-modal">
<div class="container-modal">
    <div class="content-modal">
        <h2>Resultado</h2>
        <p id="resultado"></p>
        <div class="btn-cerrar">
            <label for="btn-modal">Cerrar</label>
        </div>
    </div>
    <label for="btn-modal" class="cerrar-modal"></label>
</div>


<script>

    document.getElementById('enviarEstadisticas').addEventListener('click', function () {
        fetch('/Admin/Home/EnviarEstadistica', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            }
        })
            .then(response => response.json())
            .then(data => {
                document.getElementById('resultado').textContent = data.message;
                document.getElementById('btn-modal').checked = true; 
            })
            .catch(error => {
                console.error('Error:', error);
                document.getElementById('resultado').textContent = 'Ocurrió un error al enviar las estadísticas.';
                document.getElementById('btn-modal').checked = true; 
            });
    });


    document.getElementById('btnVer').addEventListener('click', function () {
        var cajas = document.getElementById('sctCajas');
        var usuarios = document.getElementById('sctUsuarios');
        var button = document.getElementById('btnVer');

        if (cajas.style.display === 'none') {
            cajas.style.display = 'block';
            usuarios.style.display = 'none';
            button.innerText = 'Ver usuarios';
        } else {
            cajas.style.display = 'none';
            usuarios.style.display = 'block';
            button.innerText = 'Ver cajas';
        }
    });
</script>